.habit-tracker-container {
  max-width: 500px;
  margin: 0 auto;
}

.current-habit {
  margin-bottom: 20px;
}

.habit-status {
  margin-top: 10px;
}

.previous-habits {
  margin-bottom: 20px;
}

.habit-table {
  width: 100%;
  border-collapse: collapse;
}

.habit-table th,
.habit-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.habit-table th {
  background-color: #f2f2f2;
}

.habit-table td {
  font-weight: bold;
}

.habit-table button {
  margin-right: 5px;
}


/* Status colors */
.done {
  background-color: #82ca9d;
  color: #fff;
}

.not-done {
  background-color: #f36e6c;
  color: #fff;
}

.none {
  background-color: #f2f2f2;
  color: #000;
}

.habit-table td.tasks {
  white-space: pre-wrap;
  width: auto;
  padding: 10px;
  font-size: 12px;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

